<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.graphdesign.dqrm.xtext.DQRMExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="dqrm"
            id="org.graphdesign.dqrm.DQRM"
            name="DQRM DSL Editor">
      </editor>
   </extension>
</plugin>
